.modal-container {
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-30vh);
    overflow-y: hidden;
    padding: 0 1.2rem;


    .modal-box {
        color: $dark-text;
        background-color: #fff;
        border-radius: 8px;
        padding: 30px;

        img {
            width: 100%;
        }

        .modal__header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;

            h1 {
                text-transform: uppercase;
                margin: 0;
                padding: 0;
            }
        }
    }

    button {
        background: none;
        border: none;
        align-self: center;
        color: $dark-text;

        &:hover {
            cursor: pointer;
        }

    }
}